<div>
    <style>
        .bottom-three {
           margin-bottom: 3cm;
        }
    </style>

    
    <style>
        .bottom-one {
           margin-bottom: 1cm;
        }
    </style>
      
      
    <p class="bottom-three">
    </p>

    <h2>&nbsp;
        Product
        
    </h2>


    <p class="bottom-one">
    </p>

    <p class="bottom-one">
    </p>

    <div>
        &nbsp;&nbsp;&nbsp;
        <button (click)="Switch_to_showMode()"  class="au-btn-submit">
        Show All
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button (click)="Switch_to_addMode()" class="au-btn-submit">
        Add
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button (click)="Switch_to_deleteMode()" class="au-btn-submit">
        Delete
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button (click)="Switch_to_modifyMode()" class="au-btn-submit">
        Modify
        </button>

    </div>

    <div *ngIf="this.Mode === 'add'">

        <app-addproduct></app-addproduct>
    </div>

    <div *ngIf="this.Mode === 'delete'">
        <app-deleteproduct></app-deleteproduct>
    </div>
    

    <div *ngIf="this.Mode === 'modify'">
        <app-modifyproduct></app-modifyproduct>
    </div>


    <p class="bottom-one">
    </p>

    <table id="dtHorizontalVerticalExample" class="table table-striped table-bordered table-sm " cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Date</th>
                <th>Website</th>
                <th>Is Demo</th>
                <th>Description</th>
                <th>Provider ID</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let temp of products">
                <td class="align-middle">{{temp.Product_id}}</td>
                <td class="align-middle">{{temp.Date}}</td>
                <td class="align-middle">{{temp.Website}}</td>
                <td class="align-middle">{{temp.isDemo}}</td>
                <td class="align-middle">{{temp.Description}}</td>
                <td class="align-middle"><a class="align-middle" routerLink="/api/provider/getbyid/{{temp.Provider_id}}">
                    {{temp.Provider_id}}</a></td>
            </tr>
        </tbody>
    </table>
</div>